{% extends 'layout.html' %}

{% block content %}
  <h1>Posts by {{ user.username }} ({{ posts.total }})</h1>
  {% for post in posts %}
    <article class="media content-section d-flex">
      <img class="rounded-circle article-img" src="{{ url_for('static', filename = 'profile_pics/' + post.author.image_file) }}" />
      <div class="media-body">
        <div class="article-metadata">
          <a class="mt-2 mylink" href="{{ url_for('users.user_posts', username = post.author.username) }}">{{ post.author.username }}</a>
          <small class="text-muted ms-2">{{ post.date_posted.strftime('%B %d, %Y') }}</small>
        </div>
        <h2><a class="article-title" href="{{ url_for('posts.post', post_id = post.id) }}">{{ post.title }}</a></h2>
        <h4 class="text-muted">{{ post.tagline }}</h4>
        <h6>Category - <span class="post-category">{{ post.category }}</span></h6>
        {% set paragraphs = [] %}
        {% if post.content.find('\r\n\r') != - 1 %}
          {% set paragraphs = post.content.split('\r\n\r') %}
        {% else %}
          {% set paragraphs = post.content.split('\n\n') %}
        {% endif %}
        <p class="article-content mt-4">{{ paragraphs[0]|safe }}...</p>
      </div>
    </article>
  {% endfor %}

  {% if posts %}
    {% for page_num in posts.iter_pages(left_edge = 1, right_edge = 1, left_current = 1, right_current = 2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn mybtn mb-4" href="{{ url_for('users.user_posts', username = user.username, category = user_post_category, page = page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn mybtn-outline mb-4" href="{{ url_for('users.user_posts', username = user.username, category = user_post_category, page = page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
